@media screen and (min-width: 575px){


	label{
		text-align:right;
	}

	legend{
		text-align:right;
	}


}




body{
	background:#dbe6f9;
	width:100%;
	font-family:arial, sans-serif;
	
}
h1{
	text-align: center;
	margin:30px 0 0 0;
	color:#274472;


}

p{
	font-style: italic;
	text-align: center;
}

#pageCss{
	background:white;
	margin:40px 40px;
	border-radius:30px;
	padding:50px 20px;
	
}

.title-color{
	color:#3e506d;
	font-weight:bold;

}	

/*legend{
	font-weight:bold;
	text-align:right;
}*/

input{
	width:50%;
}


#resetSubmit{
	text-align: center;
}

.btn-primary{
	background-color:#6583b2;
}
